

     .Header{
    background-color:aquamarine;
    line-height: 200px;
    width: 100%;
    margin-bottom: 10px; 
     }
     
     .Sidebar{
    background-color:darkorange;
line-height: 400px;
width: 20%;
margin-bottom: 10px;
float: left;
text-align: center;

}

.Section{
background-color: coral;
line-height: 400px;
width: 70%;;
margin-bottom: 10px;
float: right;
 text-align: center;}

.Footer{
    background-color: crimson;
line-height: 400px;
width: 100%;
text-align: center;

clear: both;
}

.{
    margin: 0%;
    padding: 0%;
    
}





}